<div class="container">
    <h1>Eat-Da-Burger!</h1>

    <section>
        <ul>
            {{#each burgers}}

            {{/each}}
        </ul>

    </section>
        <ul>
            {{#each burgers}}

            {{/each}}
        </ul>
    <section>

    </section>

    <section>
        <p>Enter a burger you want to eat, and click the "Submit" button.</p>
        <form class="create-form">
            <div class="form-group">
                <label for="burger-name"></label>
                <input type="text" id="burger-name" name="burger-name">
            </div>
            <button type="submit">Submit</button>
        </form>
    </section>
</div>
